.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 0 10vw;
  gap: 1rem;

  h2 {
    width: 100%;
  }

  p {
    font-size: 20px;
    margin: 0;
  }

  a{
    text-decoration: none;
    color:inherit;
  }
  
  button {
    background-color: gray;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 5px;
  }

  div {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding:5px;
    max-width: 70%;
    text-align: center;
    align-items:center;
    justify-content: center;
    background-color: grey;
    border:1px solid black;
  }
  img{
  
  width: 200px;
height: 200px;
}
}